$red: #ff0000;
$dark-blue: #02387e;
$blue: #0794ff;
$lightBlue: #00bfff;
$gray: #8c8c8c;
$lightGray: #dcdcdc;
$white: #ffffff;
$black: #000000;

$fs-xxxsmall: 5px;
$fs-xxsmall: 10px;
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 16px;
$fs-xlarge: 18px;
$fs-xxlarge: 20px;
$fs-xxxlarge: 25px;
