$red: #ff0000;
$dark-blue: #02387e;
$deep-blue: #0a6bea;
$blue: #0794ff;
$lightBlue: #00bfff;
$whiteBlue: rgba(10, 145, 227, 0.15);
$gray: #6a6a6b;
$gray-2: #8e8e8f;
$white-gray: rgba(154, 154, 154, 0.23);
$lightGray: rgba(220, 220, 220, 0.36);
$white: #ffffff;
$black: #000000;
$orange: #ff7715;

$fs-xxxsmall: 5px;
$fs-xxsmall: 10px;
$fs-small: 12px;
$fs-medium: 14px;
$fs-large: 16px;
$fs-xlarge: 18px;
$fs-xxlarge: 20px;
$fs-xxxlarge: 25px;
