<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gg.kp_common.dao.UserMapper">
    <insert id="addUserRole" parameterType="string">
        INSERT INTO know_pub.sys_user_role (user_id)
        VALUES (#{userid})
    </insert>
    <select id="isFollowed" parameterType="string" resultType="integer">
        SELECT COUNT(*)
        FROM know_pub.follow f
        WHERE follow_id = #{followId}
        AND follower_id = #{followerId}
    </select>
    <insert id="follow" parameterType="string">
        INSERT INTO know_pub.follow (follow_id, follower_id)
        VALUES (#{followId}, #{followerId})
    </insert>
    <delete id="unfollow" parameterType="string">
        DELETE FROM know_pub.follow
        WHERE follow_id = #{followId} AND follower_id = #{followerId}
    </delete>
</mapper>

